
<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-6">
    <nb-card>
      <nb-card-header>Edit user</nb-card-header>
      <nb-card-body>

          <form (ngSubmit)="onSubmit()" #editForm="ngForm">
              <div class="form-group">
                <label for="password">Current password</label>
                <input type="password" nbInput class="form-control" id="password"
                       required
                       [(ngModel)]="model.password" name="password"
                       #name="ngModel">
              </div>
         
              <div class="form-group">
                  <label for="username">New username</label>
                  <input type="text" nbInput class="form-control" id="username" required
                         [(ngModel)]="model.newUser" name="username">
                </div>

                <div class="form-group">
                    <label for="newmail">New mail</label>
                    <input type="email" nbInput class="form-control" id="newmail" required
                           [(ngModel)]="model.newMail" name="newmail">
                  </div>
         
              <button type="submit" class="btn btn-success" [disabled]="!editForm.form.valid">Edit user</button>
            </form>

      </nb-card-body>
      <nb-card-footer>
          
      </nb-card-footer>
    </nb-card>
  </div>
  </div>
</div>