<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-6">
      <p-card>
        <ng-template pTemplate="title">{{user.username}}</ng-template>
        <ng-template pTemplate="content">
          <p>Email: {{user.mail}}</p>
          <p>Is admin: {{user.admin}}</p>
          <p>Theme: {{user.theme}}</p>
          <p>Created on: {{user.creationDate}}</p>
        </ng-template>
        <ng-template pTemplate="footer">
          <button (click)="openpage('edit')" pButton size="small">Edit account</button>
          <button (click)="openpage('changePassword')"  pButton size="small">Change password</button>
          <button (click)="openpage('delete')" pButton size="small" class="p-button-danger">Delete account</button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
