<p-card>
  <ng-template pTemplate="title">Share collection with other users</ng-template>

  <ng-template pTemplate="content">

    <p-table [value]="userCollections" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>User</th>
          <th>Role</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-userCollection>
        <tr>
          <td>{{userCollection.userName}}</td>
          <td>{{userCollection.roleName}}</td>
          <td>
            <button pButton class="p-button-rounded p-button-icon-only p-button-danger"
                    (click)="deleteUser(userCollection.userId)">
              <fa-icon class="fas faTrash fa-lg" [icon]="removeIcon"></fa-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </ng-template>

  <ng-template pTemplate="footer">
    <button (click)="openDialog()" pButton
            size="medium">Add user
    </button>


  </ng-template>

</p-card>
