<p-card>
  <ng-template pTemplate="title">Share collection with other users</ng-template>

  <ng-template pTemplate="content">

    <table class="table">
      <thead class="headerTable">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let col of userCollections">
        <td>{{col.userName}}</td>
        <td>{{col.roleName}}</td>
        <td>
          <a (click)="deleteUser(col.userId)">
            <fa-icon [icon]="removeIcon"></fa-icon>
          </a>
        </td>
      </tr>

      </tbody>
    </table>

  </ng-template>

  <ng-template pTemplate="footer">
    <button (click)="openDialog()" pButton
            size="medium">Add user
    </button>


  </ng-template>

</p-card>
