<div class="card">
  <div class="card-header">
      Add new Collections
    </div>
<div class="card-body">

  <div class="card-text">

<form [formGroup]="addCollectionGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Give unique name of the collection" formControlName="name" required >
  </div>
  <div class="form-group">
    <label for="type">Collection type</label>
    <select class="form-control" id="type" formControlName="type" required>
      <option *ngFor="let type of collectionTypes" [ngValue]="type">{{ type }}</option>
    </select>
  </div>

  <div *ngFor="let fields of customFields.controls; let i = index">
      <app-add-custom-field [index]="i" [customFieldForm]="fields" (deleteCustomField)="deletePlayer($event)"></app-add-custom-field>
    </div>

  <button type="submit" class="btn btn-primary" [disabled]="!addCollectionGroup.valid">Submit</button>
  <button  type="button" class="btn btn-info" (click)="addCustomField()">Add custom field</button>

</form>

  </div>

</div>
</div>