<p-card>
  <ng-template pTemplate="title">Share collection to</ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <input formControlName="userName" pInputText placeholder="User name of the user" type="text">
      <nb-select formControlName="role" placeholder="Select role of the user">
        <nb-option *ngFor="let role of roles" [value]="role.name"> {{ role.name }}</nb-option>
      </nb-select>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button (click)="share()"
            size="medium"
            pButton
            class="p-button-warning">Share
    </button>
    <button (click)="close()" pButton
            size="medium"
            class="p-button-danger">Cancel
    </button>
  </ng-template>
</p-card>
