<p-card>
  <ng-template pTemplate="title" *ngIf="!item">Add new Item</ng-template>
  <ng-template pTemplate="title" *ngIf="item">Edit Item</ng-template>

  <ng-template pTemplate="content" *ngIf="!item">

    <p-dropdown [options]="collectionList" (onChange)="collectionSelectionChanged($event)" optionValue="id" optionLabel="name"></p-dropdown>

  </ng-template>

  <ng-template pTemplate="footer">

    <form (ngSubmit)="onSubmit()" *ngIf="formService.fields && collectionId !== 0" [formGroup]="form">

      <div *ngFor="let field of formService.fields" class="form-row">
        <app-custom-field-form [field]="field" [form]="form" [parentComponent]="this"
                               class="col-12"></app-custom-field-form>
      </div>

      <div class="form-row">
        <button [disabled]="!form.valid" size="medium" pButton
                type="submit">Save
        </button>
      </div>
    </form>
  </ng-template>

</p-card>
