<nb-card>
  <nb-card-header *ngIf="!item">Add new Item</nb-card-header>
  <nb-card-header *ngIf="item">Edit Item</nb-card-header>

  <nb-card-body *ngIf="!item">
    <nb-select placeholder="Please select collection" status="primary"
      (selectedChange)="collectionSelectionChanged($event)">
      <nb-option *ngFor="let collection of collectionList" [value]="collection.id">{{collection.name}}</nb-option>
    </nb-select>
  </nb-card-body>

  <nb-card-footer>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="formService.fields && collectionId !== 0">

      <div *ngFor="let field of formService.fields" class="form-row">
        <app-custom-field-form [field]="field" [form]="form" [parentComponent]="this" class="col-12"></app-custom-field-form>
      </div>

      <div class="form-row">
        <button nbButton type="submit" status="primary" 
        class="appearance-filled size-medium status-primary shape-rectangle nb-transition"
        [disabled]="!form.valid">Save</button>
      </div>
    </form>
  </nb-card-footer>

</nb-card>