<div [formGroup]="form">


  <div [ngSwitch]="field.type" class="form-group row">

    <div class="col-sm-1 inputLabel">
      <label *ngIf="field.type !== 'checkBox'" [attr.for]="field.name">{{field.label}}</label>
    </div>

    <div class="col-sm-10">
      <input *ngSwitchCase="'text'" [formControlName]="field.formId" [id]="field.formId" [placeholder]="field.placeholder" [type]="field.type"
             fullWidth pInputText>

      <input *ngSwitchCase="'email'" [formControlName]="field.formId" [id]="field.formId" [placeholder]="field.placeholder" [type]="field.type"
             fullWidth pInputText>

      <p-rating *ngSwitchCase="'rate'" stars=10 [formControlName]="field.formId" [id]="field.formId"></p-rating>

      <p-inputNumber *ngSwitchCase="'number'" [formControlName]="field.formId" [id]="field.formId" [placeholder]="field.placeholder"></p-inputNumber>




      <nb-select *ngSwitchCase="'dropdown'" [formControlName]="field.formId" [id]="field.formId" [placeholder]="field.placeholder"
                 class="col-sm-9" status="primary">
        <nb-option *ngFor="let opt of field.options" [value]="opt">{{opt}}</nb-option>
      </nb-select>

      <p-checkbox *ngSwitchCase="'checkBox'" [formControlName]="field.formId" label="{{field.name}}"></p-checkbox>

      <nb-radio-group *ngSwitchCase="'radio'" [formControlName]="field.formId" [id]="field.formId">
        <nb-radio *ngFor="let option of field.options" [value]="option">
          {{ option }}
        </nb-radio>
      </nb-radio-group>

      <textarea *ngSwitchCase="'textarea'" [formControlName]="field.formId" [id]="field.formId" [placeholder]="field.placeholder" fullWidth
                maxlength="1024"
                pInputTextarea></textarea>

      <input *ngSwitchCase="'image'" [formControlName]="field.formId" [id]="field.formId" fullWidth pInputText pattern="https?://.+"
             placeholder="Place full URL" type="url">

      <div *ngSwitchCase="'date'">
        <p-calendar dateFormat="dd-MM-yyyy" formControlName="{{field.formId}}" [id]="field.formId" [placeholder]="field.placeholder"></p-calendar>
      </div>

      <div *ngSwitchCase="'url'" class="row">
        <div class="col-sm-6">
          <input [formControlName]="field.formId" [id]="field.formId" fullWidth pInputText pattern="https?://.+"
                 placeholder="Place full URL" type="url">
        </div>
        <div class="col-sm-6">
          <input [type]="field.type" [formControlName]="field.formId+'_label'" fullWidth [id]="field.formId+'_label'"
                 pInputText placeholder="Give a name for the URL">
        </div>
      </div>
    </div>

    <div *ngIf="field.multivalues" class="col-sm-1">

      <a (click)="addField()">
        <fa-icon [icon]="addIcon"></fa-icon>
      </a>

      <a (click)="deleteField()" *ngIf="field.valueNumber !== 0">
        <fa-icon [icon]="removeIcon"></fa-icon>
      </a>
    </div>
  </div>

  <!--<div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div>-->
</div>
