<form (ngSubmit)="onSubmit()" [formGroup]="addCollectionGroup">
  <p-card>
    <ng-template pTemplate="title">Add new Collections</ng-template>

    <ng-template pTemplate="content">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" nbInput placeholder="Give unique name of the collection"
               required type="text">
      </div>
      <div class="form-group">
        <label for="type">Collection type</label>

        <div>
        <nb-select placeholder="Please select a collection type" formControlName="type" id="type" required status="primary">
          <nb-option *ngFor="let type of collectionTypes" [value]="type">{{type}}</nb-option>
        </nb-select>
        </div>
      </div>

      <p-accordion [multiple]="true">
          <p-accordionTab *ngFor="let fields of customFields.controls; let i = index" header="Custom field {{ i + 1 }}">
            <app-add-custom-field (deleteCustomField)="deletePlayer($event)" [customFieldForm]="fields" [index]="i">
            </app-add-custom-field>
          </p-accordionTab>
      </p-accordion>

    </ng-template>

    <ng-template pTemplate="footer">
      <button [disabled]="!addCollectionGroup.valid"
              pButton size="medium"
              type="submit">Submit
      </button>
      <button (click)="addCustomField()" size="medium" pButton
              class="p-button-info" type="button">Add custom field
      </button>
    </ng-template>

  </p-card>
</form>
