<form (ngSubmit)="onSubmit()" [formGroup]="addCollectionGroup">
  <nb-card>
    <nb-card-header>Add new Collections</nb-card-header>

    <nb-card-body>

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" formControlName="name" id="name" nbInput placeholder="Give unique name of the collection"
               required type="text">
      </div>
      <div class="form-group">
        <label for="type">Collection type</label>
        <select class="form-control" formControlName="type" id="type" nbInput required>
          <option *ngFor="let type of collectionTypes" [ngValue]="type">{{ type }}</option>
        </select>
      </div>

      <nb-accordion multi>
        <nb-accordion-item *ngFor="let fields of customFields.controls; let i = index">
          <nb-accordion-item-header>Custom field {{ i + 1 }}</nb-accordion-item-header>
          <nb-accordion-item-body>
            <app-add-custom-field (deleteCustomField)="deletePlayer($event)" [customFieldForm]="fields" [index]="i">
            </app-add-custom-field>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    </nb-card-body>

    <nb-card-footer>
      <button [disabled]="!addCollectionGroup.valid"
              nbButton status="primary" size="medium"
              type="submit">Submit
      </button>
      <button (click)="addCustomField()" size="medium" nbButton
              status="info" type="button">Add custom field
      </button>
    </nb-card-footer>

  </nb-card>
</form>
