<p>
  <span *ngIf="field.labelPosition === 'top'" class="label">{{field.label}}<br/></span>
  <span *ngIf="field.labelPosition === 'left'" class="label">{{field.label}}: </span>

  <span [ngSwitch]="field.widget">
    <app-image-widget *ngSwitchCase="'image'" [value]="getItemValue()"></app-image-widget>
    <app-default-widget *ngSwitchCase="'default'" [value]="getItemValue()"></app-default-widget>
    <p-rating *ngSwitchCase="'rate'" [ngModel]="getItemValue()" readonly="true"></p-rating>
    <app-email-widget *ngSwitchCase="'email'" [value]="getItemValue()"></app-email-widget>
    <app-url-widget *ngSwitchCase="'url'" [value]="getItemValue()"></app-url-widget>
    <app-default-widget *ngSwitchDefault [value]="getItemValue()"></app-default-widget>
  </span>
</p>
