<form [formGroup]="addCollectionGroup" (ngSubmit)="onSubmit()">
  <nb-card>
    <nb-card-header>Add new Collections</nb-card-header>

    <nb-card-body>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Give unique name of the collection"
          formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="type">Collection type</label>
        <select class="form-control" id="type" formControlName="type" required>
          <option *ngFor="let type of collectionTypes" [ngValue]="type">{{ type }}</option>
        </select>
      </div>

      <nb-accordion multi>
        <nb-accordion-item *ngFor="let fields of customFields.controls; let i = index">
          <nb-accordion-item-header>Custom field {{ i + 1 }}</nb-accordion-item-header>
          <nb-accordion-item-body>
            <app-add-custom-field [index]="i" [customFieldForm]="fields" (deleteCustomField)="deletePlayer($event)">
            </app-add-custom-field>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>

    </nb-card-body>

    <nb-card-footer>
      <button nbButton status="primary" type="submit" [disabled]="!addCollectionGroup.valid">Submit</button>
      <button nbButton type="button" status="info" (click)="addCustomField()">Add custom field</button>
    </nb-card-footer>

  </nb-card>
</form>