<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            Start Bootstrap
        </a>
    </li>
    <li>
        <a routerLink="/home" ><fa-icon [icon]="homeIcon"></fa-icon> Home</a>
    </li>
    <li>
        <a href="/addCollection"><fa-icon [icon]="addCollectionIcon"></fa-icon> Add Collection</a>
    </li>
    <li>
        <a href="#"><fa-icon [icon]="addItemIcon"></fa-icon> Add item</a>
    </li>
    <li>
        <a href="#"><fa-icon [icon]="adminIcon"></fa-icon> Admin</a>
    </li>
    <li>
        <a href="#"><fa-icon [icon]="contactIcon"></fa-icon> Contact</a>
    </li>
</ul>