<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-6">
      <p-card>
        <ng-template pTemplate="title">Edit user</ng-template>
        <ng-template pTemplate="content">

          <form #editForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="currentPassword">Current password</label>
              <input #name="ngModel" [(ngModel)]="model.currentPassword" class="form-control" id="currentPassword"
                     name="currentPassword"
                     nbInput required
                     type="password">
            </div>

            <div class="form-group">
              <label for="newPassword">New password</label>
              <input #name="ngModel" [(ngModel)]="model.password" class="form-control" id="newPassword"
                     name="newPassword"
                     nbInput required
                     type="password">
            </div>

            <div class="form-group">
              <label for="repeatPassword">Repeat new password</label>
              <input #name="ngModel" [(ngModel)]="model.passwordRepeat" class="form-control" id="repeatPassword"
                     name="repeatPassword"
                     nbInput required
                     type="password">
            </div>

            <button [disabled]="!editForm.form.valid" nbButton
                    status="success"
                    size="medium"
                    type="submit">Change password
            </button>
          </form>

        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
      </p-card>
    </div>
  </div>
</div>
