<div class="container">
  <div class="row">
      <div class="col-sm-3 text-truncate">
          <div class="row" *ngFor="let field of getFieldsByLocation('left')">
            <app-item-field [item]="item" [field]="field"></app-item-field>
          </div>  
        </div>
        <div class="col-sm-9">
            <div class="row" *ngFor="let field of getFieldsByLocation('main')">
                <app-item-field [item]="item" [field]="field"></app-item-field>
              </div>
        </div>
    </div>
</div>