<p-card>
  <ng-template pTemplate="title">Users</ng-template>

  <ng-template pTemplate="content">
    <p-table [value]="users" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <th>Name</th>
        <th>Mail</th>
        <th>creation date</th>
        <th>Is admin</th>
        <th>Is active</th>
        <th></th>
        <th></th>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.mail}}</td>
          <td>{{user.creationDate}}</td>
          <td>{{user.admin}}<a (click)="setAdmin(user.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="editIcon"></fa-icon>
          </a></td>
          <td>{{user.active}}
            <a (click)="disableUser(user.id)">
              <fa-icon class="fas fa-camera fa-lg" [icon]="editIcon"></fa-icon>
            </a>
          </td>
          <td>

            <button pButton class="p-button-rounded p-button-icon-only p-button-danger" (click)="deleteUser(user.id)">
              <fa-icon [icon]="removeIcon"></fa-icon>
            </button>

          </td>
        </tr>

      </ng-template>
    </p-table>
  </ng-template>
</p-card>
