<p-card>
  <ng-template pTemplate="title">Searched on: {{searchTerm}}</ng-template>
  <ng-template pTemplate="content">

    <p-accordion [multiple]="true">
      <div *ngFor="let search of result">
        <p-accordionTab header="{{search.collectionName}}">
          <p-accordion>
            <div *ngFor="let item of items.get(search.collectionId)">
              <p-accordionTab header="{{item.name}}">
                <app-view-item [fields]="fields.get(search.collectionId)" [item]="item"></app-view-item>

                <button nbButton status="warning" size="small" (click)="editItem(item, search.collectionId)">Edit item</button>

                <button nbButton status="danger" size="small" (click)="deleteItem(item, search.collectionId)">Remove from collection</button>
              </p-accordionTab>
            </div>
          </p-accordion>
        </p-accordionTab>
      </div>
    </p-accordion>
  </ng-template>
</p-card>
