<nb-card>
  <nb-card-header>Searched on: {{searchTerm}}</nb-card-header>
  <nb-card-body>

    <nb-accordion multi>
      <nb-accordion-item *ngFor="let search of result">
        <nb-accordion-item-header>{{search.collectionName}}</nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-accordion>
            <nb-accordion-item *ngFor="let item of items.get(search.collectionId)">
              <nb-accordion-item-header>{{item.name}}</nb-accordion-item-header>
              <nb-accordion-item-body>
                <app-view-item [fields]="fields.get(search.collectionId)" [item]="item"></app-view-item>

                <button nbButton status="warning" size="small" (click)="editItem(item, search.collectionId)">Edit item</button>

                <button nbButton status="danger" size="small" (click)="deleteItem(item, search.collectionId)">Remove from collection</button>

              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
