<form [formGroup]="customFieldForm">

  <div class="form-row">
    <div class="form-group col">
      <label for="name">Name</label>
      <input type="text" nbInput class="form-control" id="name" placeholder="Give unique name of the field"
        formControlName="name" required>
    </div>

    <div class="form-group col">
        <label for="name">Type</label>
        <select class="form-control" nbInput id="name" formControlName="type" (change)="typeChanged($event.target.value)" required>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>

    <div class="form-group col" *ngIf="showValueField">
      <label for="choises">Values</label>
      <input type="text" nbInput class="form-control" id="choises" placeholder="Give the possible values of the field"
        formControlName="choises" required>
    </div>

    <div class="form-group col" *ngIf="showPlaceholderField">
      <label for="PlaceHolder">PlaceHolder</label>
      <input type="text" nbInput class="form-control" id="PlaceHolder" placeholder="Give the placeholder of the field"
        formControlName="placeholder">
    </div>

    <div class="form-group col">
      <label for="label">Label</label>
      <input type="text" nbInput class="form-control" id="label" placeholder="Give the Label of the field"
        formControlName="label" required>
    </div>

    <a (click)="delete()">
      <fa-icon [icon]="removeIcon"></fa-icon>
    </a>

  </div>

  <div class="form-row">
    <div class="form-group col">
      <div class="form-check" *ngIf="showRequiredField">
        <input class="form-check-input" type="checkbox" id="required" formControlName="required">
        <label class="form-check-label" for="required">
          Required
        </label>
      </div>

      <div class="form-check" *ngIf="showAllowMultiField">
        <input class="form-check-input" type="checkbox" id="multiValue" formControlName="multiValue">
        <label class="form-check-label" for="multiValue">
          Allow multi values
        </label>
      </div>
    </div>

    <div class="form-group col">
      <label for="labelPosition">Label Position</label>
      <select nbInput class="form-control" id="labelPosition" formControlName="labelposition" required>
        <option *ngFor="let position of labelPositions" [ngValue]="position"> {{position}}</option>
      </select>

    </div>

    <div class="form-group col">
      <label for="place">Position</label>
      <select nbInput class="form-control" id="place" formControlName="place" required>
        <option *ngFor="let position of fieldPositions" [ngValue]="position"> {{position}}</option>
      </select>
    </div>

    <div class="form-group col">
      <label for="fieldOrder">Order</label>
      <input nbInput type="number" class="form-control" id="fieldOrder" formControlName="fieldOrder" required>
    </div>

  </div>

</form>