<div class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <button (click)="collapseMenuHandler()" type="button" class="btn btn-light menuButton"><fa-icon [icon]="hamburgerIcon"></fa-icon></button>
    </div>
  </div>
</div>

<div id="wrapper" [ngClass]="{'toggled' : showMenu}" >

<!-- Sidebar -->
<div id="sidebar-wrapper">

  <app-menu></app-menu>

</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>