<div class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header mr-auto">
      <div class="navbar-brand">
        <img src="assets/images/logo.png" alt="Brand" class="brand-logo"> Collection manager
      </div>
      <a (click)="collapseMenuHandler()" class="btn btn-light menuButton"><fa-icon [icon]="hamburgerIcon"></fa-icon></a>
    </div>

    <div class="pull-right">
      
    </div>

    <div class="pull-right" ngbDropdown >

        <a ><img class="rounded-circle userimage" src="assets/images/user.png" id="userDropDown" ngbDropdownToggle></a>

        <div class="dropdown-menu dropdown-menu-right userMenu" ngbDropdownMenu aria-labelledby="userDropDown">
          <button class="dropdown-item" type="button">Profile</button>
          <button class="dropdown-item" type="button">Settings</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button">Logout</button>
        </div>
      </div>

  </div>
</div>

<div id="wrapper" [ngClass]="{'toggled' : showMenu}" >

<!-- Sidebar -->
<div id="sidebar-wrapper">

  <app-menu></app-menu>

</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>