<p-card>
  <ng-template pTemplate="title">CM settings</ng-template>

  <ng-template pTemplate="content">

    <form (ngSubmit)="onFormSubmit()" [formGroup]="myForm">

      <div *ngFor="let setting of settings">
        <label>{{setting.key}}</label>
        <input formControlName="{{setting.key}}" nbInput type="text" value="{{setting.value}}">
      </div>

      <div>
        <input nbInput type="submit" value="Save settings">
      </div>
    </form>

  </ng-template>

  <ng-template pTemplate="footer"></ng-template>

</p-card>
