<nb-card>
    <nb-card-header>CM settings</nb-card-header>
  
    <nb-card-body>
      
      <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
            
            <div *ngFor="let setting of settings">
                  <label>{{setting.key}}</label> 
                 <input type="text" nbInput formControlName="{{setting.key}}" value="{{setting.value}}">
            </div>

            <div>
                  <input type="submit" nbInput value="Save settings" >
            </div>
          </form> 

      </nb-card-body>
  
    <nb-card-footer></nb-card-footer>
  
  </nb-card>