<div class="container">

  <div class="row justify-content-center">

    <div class="md:col-12 col-lg-6">
      <p-card>
        <ng-template pTemplate="title">Delete user</ng-template>
        <ng-template pTemplate="content">

          <form #editForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password">Current password</label>
              <input #name="ngModel" [(ngModel)]="model.password" class="form-control"
                     id="password"
                     name="password" required
                     type="password">
            </div>


            <div class="form-group">
              <label for="confirmation">Type 'DELETE' to confirm you want to remove this account</label>
              <input #name="ngModel" [(ngModel)]="model.confirmation" class="form-control"
                     id="confirmation"
                     name="confirmation" pattern="[D][E][L][E][T][E]"
                     required
                     type="text">
            </div>

            <button [disabled]="!editForm.form.valid" pButton
                    class="p-button-success"
                    size="medium"
                    type="submit">Delete user
            </button>
          </form>

        </ng-template>
        <ng-template pTemplate="footer">

        </ng-template>
      </p-card>
    </div>
  </div>
</div>
