<nb-card>
  <nb-card-header>Search for items on external databases</nb-card-header>

  <nb-card-body>
    <nb-select (selectedChange)="collectionSelectionChanged($event)" placeholder="Please select collection"
               status="primary">
      <nb-option *ngFor="let collection of collectionList" [value]="collection.id">{{collection.name}}</nb-option>
    </nb-select>
    <input (keyup)="onKey($event)" fieldSize="medium" nbInput placeholder="Input" type="text">

    <button (click)="searchItems()" size="medium" nbButton
            status="primary">Search
    </button>


  </nb-card-body>

  <nb-card-footer>

    <div *ngFor="let item of searchResults">

      <app-search-item-result [collectionId]="collectionId" [item]="item"></app-search-item-result>
    </div>


  </nb-card-footer>

</nb-card>
