<p-card>
  <ng-template pTemplate="title">Search for items on external databases</ng-template>

  <ng-template pTemplate="content">

    <p-dropdown [options]="collectionList" [(ngModel)]="collectionId" optionValue="id" optionLabel="name"></p-dropdown>

    <input (keyup)="onKey($event)" pInputText placeholder="Input" type="text">

    <button (click)="searchItems()"  pButton>Search</button>


  </ng-template>

  <ng-template pTemplate="footer">

    <div *ngFor="let item of searchResults">

      <app-search-item-result [collectionId]="collectionId" [item]="item"></app-search-item-result>
    </div>


  </ng-template>

</p-card>
