fa-icon{
    margin: 5px;
}

.collectionText{
    text-align: center;
    font-size: 32px;
    color: black;
}

.rightAlign{
    float: right;
    clear: both;
}

.activeItem{
    color:black;
}

.itemList{
    color:black;
    margin-top: 20px;
}

.card {
    display:inline-block;
    width: 200px;
    margin-right: 20px;
}