<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-12" *ngFor="let col of collections">
      <p-card> <!--[size]="'tiny'"-->
        <ng-template pTemplate="title">{{col.name}}</ng-template>
        <ng-template pTemplate="content">
          Type: {{col.type}} <br/>
          Members: {{col.members}}
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton size="tiny" (click)="viewCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="viewIcon"></fa-icon>
          </button>

          <button pButton size="tiny" (click)="shareCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="shareIcon"></fa-icon>
          </button>

          <button pButton class="p-button-warning" size="tiny" (click)="editCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="editIcon"></fa-icon>
          </button>

          <button pButton class="p-button-danger" size="tiny" (click)="deleteCollection(col.id, col.name)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="removeIcon"></fa-icon>
          </button>
        </ng-template>
        </p-card>
    </div>
  </div>
</div>
