<div class="container">
  <div class="grid">

    <div class="col-12 md:col-3 p-fluid" *ngFor="let col of collections">
      <p-card class="p-card-sm"> <!--[size]="'tiny'"-->
        <ng-template pTemplate="title">{{col.name}}</ng-template>
        <ng-template pTemplate="content">
          Type: {{col.type}} <br/>
          Members: {{col.members}}
        </ng-template>

        <ng-template pTemplate="footer">
          <button pButton class="p-button-rounded p-button-icon-only" (click)="viewCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="viewIcon"></fa-icon>
          </button>

          <button pButton class="p-button-rounded p-button-icon-only" (click)="shareCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="shareIcon"></fa-icon>
          </button>

          <button pButton class="p-button-rounded p-button-icon-only p-button-warning" (click)="editCollection(col.id)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="editIcon"></fa-icon>
          </button>

          <button pButton class="p-button-rounded p-button-icon-only p-button-danger" (click)="deleteCollection(col.id, col.name)">
            <fa-icon class="fas fa-camera fa-lg" [icon]="removeIcon"></fa-icon>
          </button>
        </ng-template>
        </p-card>
    </div>
  </div>
</div>
